@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(#141414,#0b0b0b);
}