.body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4vw;
    background: linear-gradient(180deg, #414141 0%, #2A2A2A 60.13%, #050505 100%);
    color: #fff;
    font-size: 1vw;
    overflow: hidden;
}
.menuicon{
    display: none;
    opacity: 0;
}
.frame1{
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: 0px 8px 12px rgba(20, 20, 20, 100%);
    background-color: #fff;
}
.nav{
    width: 100%;
    min-height: 4vw;
    background: rgba(128, 128, 128, 0.3);
    backdrop-filter: blur(2vw);
    -webkit-backdrop-filter: blur(2vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 2vw;
    position: fixed;
    top: 0;
    z-index: 999;
    color: #fff;
}
.nav img{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}
.imageContainer{
    width: 100%;
    height: 50vw;
    z-index: 1;
}
.swiper{
    width: 100%;
    height: 100%;
    position: relative;
}
.imageContainer Image{
    object-fit: cover;
}.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fade{
    width: 100%;
    height: 50vw;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(25, 25, 25, 0.00) 5.04%, #191919 100.3%);
    z-index: 5;
    position: absolute;
}
.filters{
    display: flex;
    padding: 0.4vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-radius: 20vw;
    background: rgba(89, 89, 89, 0.30);
    font-size: 0.8vw;
    box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.10) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.30) inset;
}
.activefilter{
    display: flex;
    min-width: 7vw;
    padding: 0.5vw 1.5vw;
    justify-content: center;
    align-items: center;
    border-radius: 20vw;
    background: linear-gradient(0deg, rgba(184, 184, 184, 0.1) 0%, rgba(184, 184, 184, 0.4) 100%), rgba(255, 255, 255, 0.06);
    background-blend-mode: color-dodge, lighten;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.filter{
    display: flex;
    min-width: 7vw;
    padding: 0.5vw 1.5vw;
    justify-content: center;
    align-items: center;
    border-radius: 20vw;
    color: rgba(255, 255, 255, 0.60);
}
.bot{
    display: flex;
    width: 100%;
    padding: 1vw 5vw;
    padding-bottom: 4vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    flex: 1 0 0;
    z-index: 10;
    position: absolute;
}
.bot h1{
    color: #e3e3e3;
    font-size: 1.8vw;
}
.button{
    display: flex;
    padding: 0.7vw 2.5vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.3vw;
    background: linear-gradient(92deg, rgba(128, 1, 31, 0.60) 16.85%, rgba(255, 0, 61, 0.60) 100%);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
}
.frame2{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 5vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.bar{
    width: 100%;
    display: flex;
    padding: 1vw 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 0.2vw solid #FFF;
}
.title{
    display: flex;
    height: 28px;
    align-items: center;
    gap: 20px;
    font-size: 2vw;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}
.clicked{
    display: flex;
    padding: 1vw 2vw;
    align-items: center;
    gap: 5vw;
    align-self: stretch;
    border-radius: 0.4vw;
    background: #FC0531;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.unclicked{
    display: flex;
    padding: 1vw 2vw;
    align-items: center;
    gap: 5vw;
    align-self: stretch;
    border-radius: 0.4vw;
    background: #262626;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 0px;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card{
    width: 16vw;
    height: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    border-radius: 0.8vw;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(25px);
    overflow: hidden;
}
.image{
    width: 100%;
    height:  85%;
    position: absolute;
    top: 0;
}
.info{
    display: flex;
    padding: 0.5vw 1vw;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.footer{
    width: 100%;
    height: 20vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footerImage{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.footerImage Image{
    object-fit: cover;
}
#large{
    font-size: 2.5vw;
}
#small{
    font-size: 1.2vw;
}
.effect{
    width: 100%;
    height: 20vw;
    background: linear-gradient(90deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
    z-index: 5;
    position: absolute;
    backdrop-filter: blur(0.4vw);
    -webkit-backdrop-filter: blur(0.4vw);
}
.menu{
    display: none;
}
@media only screen and (max-width: 768px) {
    .imageContainer{
        height: 300px;
    }
    .frame1{
        height: 300px;
    }
    .bot{
        width: 100%;
        padding: 10px 20px;
    }
    .nav img{
        width: 30px;
        height: 30px;
    }
    .bot h1{
        color: #e3e3e3;
        font-size: 10px;
    }
    .button{
        display: flex;
        padding: 0.7vw 2.5vw;
        font-size: 10px;
    }
    .frame2{
        display: flex;
        width: 100%;
        padding: 30px 20px;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1vw;
    }
    .bar{
        padding: 0;
        border-bottom: 2px solid #FFF;
        height: 30px;
    }
    .fade{
        width: 100%;
        height: 300px;
    }
    .buttons{
        gap: 20px;
    }
    .clicked{
        padding: 0vw 4vw;
        gap: 0vw;
    }
    .unclicked{
        padding: 0vw 4vw;
        gap: 0vw;
    }
    .title{
        font-size: 15px;
    }
    .cards{
        width: 100%;
        padding: 0px 0px;
        gap: 10px;
    }
    .card{
        width: 160px;
        height: 280px;
    }
    .image{
        width: 100%;
        height: 240px;
    }
    .info{
        font-size: 10px;
        padding: 0.5vw 1vw;
    }
    .footer{
        width: 100%;
        height: 150px;
    }
    #large{
        font-size: 16px;
    }
    #small{
        font-size: 10px;
    }
    .footer img{
        height: 150px;
        
    }
    .effect{
        height: 150px;
    }
    .filters{
        display: none;
    }
    .clicked{
        display: none;
    }
    .unclicked{
        display: none;
    }
    .menu{
        width: 150px;
        position: fixed;
        background: rgba(39, 39, 39, 0.8);
        top: 50px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 999;
        padding: 10px;
        transition: 0.5s;
        font-size: 12px;
        border-radius: 10px;
    }
    .menuicon{
        display: block;
        position: absolute;
        z-index: 999;
        right: 10px;
        top: 10px;
        opacity: 1;
    }
    .menuItems{
        width: 100%;
        margin: 20px 0px;
        padding: 10px;
        min-height: 300px;
        border-radius: 5px;
        font-size: 16px;
    }
    .menuItems li{
        margin: 10px 0px;
    }
    
  }